body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to left, #0c1c39, #4b6979, #374b6c);
    background-attachment: fixed;
    background-repeat: unset;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;


}
 nav{
    background: lightgray;
    padding: 5px 20px;
    display: flex;
    align-items: center;
 }
 nav a{
    color:  #213555;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
 }
 nav .menuContent:hover{
    background: #0c1c39;
    color: #F0F0F0;
    padding: 10px;
    border-radius: 5px;
 }
 .logo{
    flex: 1;

 }

 .logo a {
    display: flex;
    align-items: center;
    font-size: 70px;
    text-decoration: none;
    font-weight: bolder;
    text-shadow: black 7px 9px 15px;

    
 }
 .logo a span{
    color: #F0F0F0;
 }
 
.logo img{
width: 120px;
margin-right: 15px;
}
.menu{ 
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li{
    padding: 15px 10px;
    font-size: 23px;
    margin-left: 10px;
}
.menu a{
    font-size: 20px;
}
.menu button{
    margin-right: 10px;
    margin-left: 15px;
    padding: 15px 15px  ;
    border-radius: 10px;
    background: #213555;
    color: #F0F0F0;
    font-weight: bolder;
    border: none;
}
.menu button:hover{
    color:#213555;
    background:#F0F0F0 ;
}
.toggle{
    font-size: 30px;
    display: none;
}
 @media screen and(max-width:400px) {
    nav{
        display: block;
        position: relative;
        padding: 15px 20px;
    }
    .menu{
        margin-top: 15px;
        display: none;
    }
    .menu.active, .toggle{
        display: block;
    }
    .toggle{
        position: absolute;
        top: 15px;
        right: 20px;
    }
 }

.container {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    margin-top: 50px;
    flex-flow: wrap;
}

.card {
    flex: 1; 
    max-width: 250px; 
    margin: 10px; 
    height: 400px;
    box-shadow: 5px 5px 10px black;
    border-top-left-radius: 50px;
    overflow: hidden;
    position: relative;
}   

.card img {
    width: 100%;
    height: 100%; 
    border-top-left-radius: 50px;
    transition: transform 0.5s ease; 
}

.intro {
    height: 0;
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    background: rgba(27, 27, 27, 0.5);
    color: whitesmoke;
    border-top-left-radius: 30px;
    box-shadow: black  2px 10px 11px ;
    overflow: hidden;
    transition: height 0.5s ease, background 0.5s ease, color 0.5s ease;
}

.intro h1 {
    margin: 5px;
    color: #213555;
    text-shadow: white 3px 3px 10px;
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.intro p {
    margin: 3px;
    font-size: 13px;
    opacity: 0;
    visibility: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.intro .rate {
    text-align: center;
}

.rate p {
    text-align: left;
    margin-right: 20px;
    font-size: 15px;
    font-weight: 500;
    color: black;
    margin-top: 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
}

.rate i {
    color: rgb(218, 189, 4);
    font-size: 18px;
    cursor: pointer;

}
.rate span{
    margin-top: 10px;
}
.checked{
    color: rgb(218, 189, 4);
}
.typeOfMov{
    width: 100%;
    margin-top: 30px;
    margin-left: 30px;
    display: flow-root;
 
    
}
.typeOfMov label{

 padding-left: 2px;
 font-size: 12px;
 background: #0c1c39;
 color: lightgray;
 padding-right: 2px;
 border-radius: 3px;
 padding-top: 5px;
 padding-bottom: 5px;
 margin-left: 1px;
 margin-right: 1px;
 
 
}
.typeOfMov label:hover{
    background: white;
    color: #0c1c39;
}
.card:hover {
    cursor: pointer;
}
.card:hover .rate{
    visibility: inherit;
}

.card:hover .intro {
    height: 75%;
    background:lightgray;
    color: black;
    font-weight: 600;
}

.card:hover p {
    opacity: 1;
    visibility: visible;
}

.card:hover img {
    transform: scale(1.1) ;
    filter: blur(3PX);
}



@media (max-width: 767.98px) {
    .card{
        width: 360px;
        height: 450px;
        padding-right: 20px;

    }
    .typeOfMov label{
        padding-left: 1px;
        font-size: 13px ;
        margin-left: 2px;
        margin-right: 0;
        float: left;
    }
  

    .card img {
        width: 360px;
        height: 450px; 
    border-radius: 20px;
    transition: transform 0.5s ease; 
}
}
@media (max-width: 1200px){
    .card{
        width: 360px;
        height: 450px;
       

    }

    .card img {
    width: 100%px;
    height: 450px; 
    border-radius: 20px;
    transition: transform 0.5s ease; 
}
}

.box {
    display: flex; 
    align-items: center;
    justify-content: center;
    max-width: 20px ;
    max-height: 30px;
    margin-right: 0 auto;
    margin-bottom: 0 auto;
    margin-left: 50%;
    padding: 10px;
    background: lightgray;
    border-radius: 40px;
    box-shadow: 5px 5px 10px #0c1c39;
    transition: all 0.3s;
    cursor: pointer;
    margin-top: 50px;
    align-items: center;
    align-content: center;
}

.box:hover {
    max-width: 50%;
    margin-right: 0 auto;
    margin-bottom: 0 auto;
    margin-left: 24%;
}

.box input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 600;
    transition: width 0.8s ease-in-out;
    /* Adjust timing */
    background: transparent;
    margin-left: 10px;
    /* Add spacing between icon and input */
}

.box:hover input {
    width: 100%;
    /* Expand the input */
}

.box input::placeholder {
    color: #374b6c;
}
.box a{
    margin-right: 10px;
}
.box i {
    color: #213555;
    font-size: 20px;
    position: relative;
    align-items: center;
    align-content: center;
    transition: transform 0.08s;
   
}

.box:hover i {
    transform: scale(1.2);
   

}
.nextPageButton {
    text-align: center;
  }
.nextPageButton ul {
    position: relative;
    background: lightgray;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    float: left;
    width: 350px;
    padding: 20px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: #213555;
    text-align: center;
    font-weight: bolder;
    margin-left: 35%;
    flex: c;
    font-size: 20px;
    margin-bottom: 50px;
}

.nextPageButton ul li {
    display: inline-block;
    margin-right: 10px;
    list-style: none;
    line-height: 50px;
    margin: 0 5px;
}

.nextPageButton ul .pageNum li {
    width: 50px;
    height: 50px;
    line-height: 50px;
    
    text-align: center;
}

.nextPageButton ul li a {
    display: block;
    text-decoration: none;
    color: #213555;
    font-family: 'Times New Roman', Times, serif;
}
.nextPageButton:hover ul li a {
    display: block;
    text-decoration: none;
    color: lightgray;
    
}
.nextPageButton:hover ul {
    background: #213555;
}
.nextPageButton ul li:hover{
    background: #0c1c39;
    border-radius: 5px; 
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .nextPageButton{
        padding-top: 200px;
    }
    
    .nextPageButton ul {
        width: 100%; /* Adjust the width to 100% for smaller screens */
        margin-left:25%;
       
      
    }

    .nextPageButton ul li {
        display: block; /* Display list items vertically on smaller screens */
        text-align: center; /* Center-align list items on smaller screens */
        margin-bottom: 10px; /* Add spacing between list items on smaller screens */
    }
    .nextPageButton:hover ul li a {
        display: block;
        text-decoration: none;
        color: lightgray;
        
    }
    .nextPageButton:hover ul {
        background: #213555;
    }
    .nextPageButton ul li:hover{
        background: #0c1c39;
        border-radius: 5px; 
    }
}



footer {
    height: 350px;
    width: 100%;
    background: lightgray;
    box-shadow: #0c1c39 5px 5px 8px 8px;
    display: inline-block;
    justify-content: center;
    border-radius: 20px;

}
.H2Detail{
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: bolder;
    margin-top: 20px;
   text-align: center;
    text-shadow: #4b6979 5px 5px 10px;
}
.aboutWeb{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-align: center;
}
.SecParagraph{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-align: center;
}
.ThirdSecParagraph{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-align: center;
}
.warpper {
    margin-top: 3%;
    
    display: flex;
    justify-content: center;
}

.warpper .button {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    background: linear-gradient(to left, #0c1c39, #4b6979, #374b6c);;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 8PX 8PX 15PX rgba(0, 0, 0, 1);
    transition: all 0.3s ease-out;
    overflow: hidden;
}

.warpper .button:hover {
    width: 200px;

}

.warpper .button .SocialIcon {
    display: inline-block;
    height: 60px;
    text-align: center;
    width: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    overflow: visible;
    transition: all 0.3s ease-out;
}

.warpper .button:nth-child(1):hover .SocialIcon {
    background: blue;
}

.warpper .button:nth-child(2):hover .SocialIcon {
    background: linear-gradient(0deg, #bc2a8d, #8a3ab9);
}

.warpper .button:nth-child(3):hover .SocialIcon {
    background: black;
}

.warpper .button:nth-child(4):hover .SocialIcon {
    background: green;
}

.warpper .button:hover .SocialIcon i {
    color: #ffff;
}

.warpper .button .SocialIcon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
    color: #ECF2FF;
}

.warpper .button .SocialIcon i {
    font-size: 25px;
    line-height: 60px;
    color: #ECF2FF;
    margin-left: 20px;
}

.warpper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    color: #F0F0F0;
    padding-left: 30px;
    transition: all 0.3s ease-out;


}

.warpper .button:nth-child(1) span {
    color: lightgray;
    font-weight: 800;
}

.warpper .button:nth-child(2) span {
    color:  lightgray;
    font-weight: 800;
}

.warpper .button:nth-child(3) span {
    color:  lightgray;
    font-weight: 800;
}

.warpper .button:nth-child(4) span {
    color:  lightgray;
    font-weight: 800;
}
.footerEmail{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    text-align: center;
    margin-top: 4%;
    color: black;
    font-size: 15px;
}
.footerEmail:hover{
    color: #4b6979;
}
.SocialIcon a{
    text-decoration: none;
}
.footerbarv{
text-align: center ;


}
.watchButt{
    text-align: center;
}
.watch{
    margin-top: 16px; 
    background:#E5D283;
     color: black;
      font-weight: bold;
       border: none;
       font-family: 'Times New Roman', Times, serif;
       padding-bottom: 5px ;
       padding-top: 5px ;
       border-radius: 5px;
       width: 80%;
}
.watch:hover{
background: #0c1c39;
color: lightgray;
font-weight: bold;

}